body {
    background-color: #FC814A;
    height: 100vh;
    margin: 0px;
}

.container {
    display: flex;
}

.centered {
    justify-content: center;
    align-items: center;
}

#display {
    width: 100px;
    background-color: antiquewhite;
    overflow: hidden;
    text-align: end;
}
#secondary {
    height: 30px;
    background-color:aqua
}

#primary {
    height: 40px;
    background-color:lightcoral;
}
#display > span {
    padding: 0 2px;
}

#numbers > div {
    cursor: pointer;
}