body {
    background-color: #FC814A;
    height: 100vh;
    margin: 0px;
}

.container {
    display: flex;
}

.centered {
    justify-content: center;
    align-items: center;
}

#display {
    width: 100px;
    aspect-ratio: 2/1;
    background-color: antiquewhite;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
}

#display > span {
    padding: 0 2px;
}

#numbers > div {
    cursor: pointer;
}